.leaflet-div-icon {
	background: transparent;
	border: none;
}
 
.leaflet-marker-icon .number{
	position: relative;
	top: -26px;
	font-size: 10px;
	font-weight: bold;
	width: 18px;
	text-align: center;
}